<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018351929149-j3tehi0855jb5rlt3clnlu1onao9n7mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018351929149-j3tehi0855jb5rlt3clnlu1onao9n7mk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018351929149-dv3ee19rm17sbbn1ln1gj3tc9v2urcdp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQwPvm-ErlAY95-r_71PlWFVuy3kToCh4</string>
	<key>GCM_SENDER_ID</key>
	<string>1018351929149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colartive.wallpapers</string>
	<key>PROJECT_ID</key>
	<string>colartive-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>colartive-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018351929149:ios:6ebb4b39d5e255202aa754</string>
</dict>
</plist>